[2019-08-30 10:43] billimek opened #2 "consider leveraging vault native kubernetes auth instead of token"
It appears that the solution currently relies on directly communicating with the vault server using a long-lived token.

It may be worth considering adopting the [vault kubernetes auth method](https://www.vaultproject.io/docs/auth/kubernetes.html) as an approach for the vault secrets operator to authenticate to vault instead via a service account.

[2019-08-30 18:24] ricoberger commented on #2
Hi and thanks for your interest in the Vault Secrets Operator. This is definitely one of the next topics I will look at.

[2019-09-01 17:06] #2 closed

[2019-09-03 13:51] cristian-radu opened #6 "Any plans to support Vault KV Secrets Engine - Version 2?"
With version 2 of the kv secrets engine, Vault can store multiple versions of the same secret. The controller could then reference a specific version via the CRD spec and this would provide a means to reflect the fact that the secret value has been modified as a git commit.

Any thoughts on this?

[2019-09-03 14:16] AndresPineros commented on #6
I'm not completely sure but I think I've read the Go SDK for Vault and it doesn't support KV version 2.

The issue goes beyond this operator.

[2019-09-03 16:30] ricoberger commented on #6
After a first test I can get a kv2 secret:

[code]

The returned structure is a little bit different then the one for a kv1 secret, but I think it should be possible. I will try to implement a useful version.

If it works, I would also change the CRD to include a new field called `secretsEngine` or sth. like this. The field should be optional, to not introduce a breaking change.

[2019-09-03 16:35] cristian-radu commented on #6
Was just about to comment. Seems the KV store must have versioning enabled (obviously), and then we could make requests like https://www.vaultproject.io/api/secret/kv/kv-v2.html#read-secret-version using https://github.com/hashicorp/vault/blob/master/api/logical.go#L53

[2019-09-03 17:53] ricoberger commented on #6
@cristian-radu thanks for the links.

Since it seems it is also possible to specify the version of the secret which should be used. What do you think should this also be included or should the Operator use only the latest version?

[2019-09-03 17:59] cristian-radu commented on #6
@ricoberger I was thinking we could allow specifying the secret version to be used as well as part of the CRD spec. That way when you push a new version of the secret to Vault, the only way to actually deploy this new secret to Kubernetes would be to make a commit in git that references the new version.

So you "drive" the actual change to he Kubernetes secret from git.

[2019-09-03 18:37] ricoberger commented on #6
Thanks again for the links. Was then implemented faster than expected. I will update the readme and Helm chart and release a new version of the Operator.

[2019-09-03 20:00] #6 closed

[2019-09-07 04:21] rtluckie opened #9 "Support Nested Secret Values"
I am looking to use the vault-secrets-operator to support secrets in [flux](https://docs.fluxcd.io/projects/helm-operator/en/latest/references/helmrelease-custom-resource.html?#secrets).

Secrets with nesting don't seem to work.
[code]
In vault the secret looks like this;
[code]

[2019-09-07 11:56] ricoberger commented on #9
Hi, thanks for open the issue. I was able to reproduce this with `cat values.json | vault kv put kv2/nested-secret -`. Then the value for the `values.yaml` key is of the type `map[string]interface {}`, which could not be parsed by the operator.

For using the Vault Secrets Operator with Flux you can create the Vault secrets with the following command for now:

[code]

Then the value of the `values

[2019-09-07 13:51] ricoberger commented on #9
#10 should resolve this issue. If any other case does not work, please do not hesitate to create a new issue.

[2019-09-07 15:08] #9 closed

[2019-09-09 18:33] ricoberger opened #11 "KV2 secrets on nested path does not work"
If the KV2 secrets engine is enabled under a nested path the operator does not work for these secrets. Steps to reproduce:

[code]

The first example contains an invalid path, the operator would look for the secret at `kv2/data/on/nested/path/example-vaultsecret`, which is also not valid.

The second example contains the correct path with the `data` part in it, but the operator looks under the fol

[2019-09-09 21:50] itsmeniko commented on #11
Personally, I would not expect the operator to modify the secret path, and instead just get exactly whatever I put there.

[2019-09-10 05:03] ricoberger commented on #11
Hi, thanks for your input. I totally agree with you, normally you should get exactly what you put in the CR.

My only problem here is that the `vault kv get kv2/on/nested/path/example-vaultsecret` command does not require the `data` part in the path. If they detect a KV2 secrets engine under the given path, they also add the `data` part to the path: https://github.com/hashicorp/vault/blob/master/c

[2019-09-10 15:34] itsmeniko commented on #11
Hi, thanks for this excellent project. hmm yeah I see the conundrum, other operators such as banzaicloud bank-vaults expect the user to specify `/data` in the secret path since it makes more sense in the context of hashicorp/vault/api pkg. I think this is reasonable approach, but it did result in a clumsy first try when I used that operator.

[2019-09-10 18:18] ricoberger commented on #11
Currently I want to use the same logic as the Vault cli (see #12), but I'm open for suggestions.

@itsmeniko: I would like to improve the readme, do you have some suggestions based on your experience with the operator.

[2019-09-10 20:30] itsmeniko commented on #11
sounds good! The only suggestion I have for the readme is that it should be clear that the helm chart has no default `vault.address`, or perhaps it should use `http://vault:8200` as the default?

happy to submit a pr if you'd like

[2019-09-10 21:03] ricoberger commented on #11
A PR from you would be very welcome.

[2019-09-20 12:48] dieser94 opened #14 "[Feature request] Multiple types of secrets"
Hello, I stumbled upon this repo while looking for solutions with vault secret syncing, until now this looks like the most classy way of doing this but the only question I have is if there are any plans in the near future to support different types of secrets (files, tls, docker artifactory).

[2019-09-20 17:43] ricoberger commented on #14
Hi, this should work. For example: If you would create the following Docker secret

[code]

the corresponding secret in Vault looks like this:

[code]

This Vault secret can be used with the following CR. The important thing here is to set the `spec.type` field to `kubernetes.io/dockerconfigjson`.

[code]

This should also work for a secret that contains a TLS private key and certificate:

[code]

[2019-09-22 11:25] dieser94 commented on #14
Thank you very much! One last question, is there any way of giving the Vault Token from a mounted volume?
Up until now I've been using Vault Agent to do the Auth part and storing the token to be used.

[2019-09-22 21:27] ricoberger commented on #14
Hi, no problem. The recommended approach for authentication is the **Kubernetes Auth Method**. Therefor the service account is used for authentication and it is not necessary to store the token.

[code]

If you want to use the **Token Auth Method** you can pass the token via secret to the operator.

[code]

[code]

[2019-09-23 08:12] dieser94 commented on #14
The authentification workflow with Vault Agent was to actually do the auth  (based on a path and some configurations, and store the token in shared mounted volume (where the Vault Agent resides as a initContainer, and the actual syncing application is the main container).

Unfortunately this is a requirement in my case 😢  .
That is why I asked if there is any way of getting the token from a path a

[2019-09-23 16:23] ricoberger commented on #14
Ah ok, I get it. Maybe we can introduce another environment variable `VAULT_TOKEN_PATH` which is used when `VAULT_AUTH_METHOD` is `token` and `VAULT_TOKEN` is empty. Besides that the Helm chart must be adjusted to allow the mounting of a volume.

Would that be an option?

[2019-09-24 07:23] dieser94 commented on #14
That would be perfect. I think that would also solve any Auth logic for all other paths, if anyone else wants to use Vault Agent way.

[2019-09-24 18:18] ricoberger commented on #14
@dieser94 if you find the time, maybe you could take a look at the PR #15.

[2019-09-25 18:23] #14 closed

[2019-10-10 22:39] rtluckie opened #16 "Automatic Reconciliation"
If a secret is changed in vault, the change should be automatically reflected in the k8s secret. Reconciliation should be tune-able (e.g. every 600s)

It looks like this would be straight forward to implement for Vault K/V Version 2 by using the version.  For Vault K/V Version 1 you might consider adding a hash of the secret to an annotation in the k8s secret to facilitate reconciliation.

- For K

[2019-10-10 22:43] rtluckie commented on #16
The work around I've been using is to delete the K8s secret after it has been updated in vault and let it be re-created.

[2019-10-11 06:41] ricoberger commented on #16
Hi and thanks for your request. We are seeing this as issue to, because increasing the version in the CR seems a little bit annoying.

I will take a closer look. For now I only have one question: I think if no version is defined in the VaultSecret for a K/V Version 2 secret changes in vault should also be reflected in the k8s secret. This could be interpreted as use always the latest version. What

[2019-10-11 16:05] rtluckie commented on #16
@ricoberger I could have phrased that better.  Sorry about that. :/ But yes, I would always use the latest version.

[2019-10-14 19:40] ricoberger commented on #16
@rtluckie I added the logic for automatic reconciliation (PR #17), but I'm not sure about the following points:

1. **Delete the k8s secret, if the Vault secret was deleted:** If the Vault secret was deleted and "auto update" is enabled for the secret the reconciliation function would throw an error. In this case I think it would be the best to delete the k8s secret and disable the reconciliation.

[2019-10-15 14:34] rtluckie commented on #16
@ricoberger I think I agree with you 100% on point (1).  On point (2) IMHO it is desirable to reconcile every vault secret at a reasonable interval 600s+.  This would ensure that vault is the single source of truth, would ensure uniform usage by operators and remove any doubt if a k8s secret's data is actually what is in vault.

[2019-10-15 17:18] #16 closed

[2019-10-16 02:13] rtluckie commented on #16
@ricoberger thx for quick response.  I'll test ASAP.

[2019-10-25 11:33] rtluckie opened #20 "Restrict the controller to a particular namespace"
It would be awesome if `vault-secret-operator`'s controller could be restricted to a particular k8s namespace (or include, exclude spec).

Similar to https://github.com/tuenti/secrets-manager/pull/39

[2019-10-27 15:59] ricoberger commented on #20
Hi, thanks for your request.

After a first look I would upgrade the operator to use the operator-sdk [v0.11.x](https://github.com/operator-framework/operator-sdk/blob/master/doc/migration/version-upgrade-guide.md#v011x) before implementing your request.

The new version bumps the underlying controller-runtime version to v0.2.0, which introduces a new feature to watch a list of namespaces (see htt

[2019-10-28 18:14] ricoberger commented on #20
Hi, I updated the operator-sdk to v0.11.x and added the possibility to set the namespaces the operator should watch. There is also a new value `vault.namespaces` in the Helm chart, which accepts a comma separated list of namespaces.

- https://github.com/ricoberger/vault-secrets-operator/commit/8f8cba8d485139a2154f25af60d82c7ca0d23ebb
- https://github.com/ricoberger/vault-secrets-operator/commit/c

[2019-10-28 20:48] rtluckie commented on #20
@ricoberger changes LGTM.  Thank you very much for being to responsive!  I will let you know if I run into any issues during testing.

[2019-10-29 16:45] #20 closed

[2019-11-18 10:22] rust84 opened #22 "Pod crashlooping when an apiservice is unavailable"
This was actually an issue with the cert-manager webhook api service but when it occurs it sends the secrets operator into a crashloop. Helm added some additional error handling in a recent [commit](https://github.com/johannges/helm/commit/f39e13b8dda6689746beb1967e3fa64ecfa0e95a) to handle when an api is unavailable. It might be preferable to apply a similar approach in the vault operator to avoi

[2019-11-18 22:09] ricoberger commented on #22
Hi @rust84 and thanks for reporting.

Do you have an example to reproduce the issue. As far as I can take it from the logs the operator should not be crashing, if he couldn't create the ServiceMonitor.

I'll take a closer look this week. If you have any further hints this would be very useful.

[2019-12-01 22:09] rust84 commented on #22
Had this happen again tonight. The metrics apiserver stopped responding an dvault operator failed to start. To reproduce this using the metrics-server you could possibly block port 443 between the nodes to make the metrics server fail.

Apiservice

        v1beta1.metrics.k8s.io                 kube-system/metrics-server   False (MissingEndpoints)   116m

Operator log

    {"level":"info","ts":157

[2019-12-02 18:55] ricoberger commented on #22
Hi @rust84, thanks for the update. I was able to reproduce the issue now and try to fix it.

Steps to reproduce the issue:

- Install metrics-server (https://github.com/kubernetes-sigs/kind/issues/398):

[code]

- Install Prometheus Operator

[code]

[code]

- Delete the `metrics-server` service:

[code]

- Restart the Vault Secrets Operator

[2019-12-02 20:39] #22 closed

[2019-12-02 20:48] ricoberger commented on #22
The issue should be fixed in version [1.4.2](https://github.com/ricoberger/vault-secrets-operator/releases/tag/1.4.2). If you have any problems feel free to reopen or create a new issue.

Thanks for pointing out the issue.

[2019-12-03 21:43] grzegdl opened #27 "[Feature request] Allow communication with vault using custom TLS certs"
It's a good security practice to restrict communication with Vault to https and only with previously generated TLS keys. Especially when dealing with Vault deployed externally (outside the cluster with Vault Secrets Operator).

[2019-12-04 20:30] ricoberger commented on #27
Hi @grzegdl, thanks for your feature requests. This sounds like a useful addition. I will take a look into the implementation during this week.

My idea would be to pass the certificate via a mounted volume from a secret to the pod. Then we can check if the certificate is present and pass it to the underlying HTTP client of the Vault client.

Do you have any further recommendations?

[2019-12-04 21:34] grzegdl commented on #27
Passing it as a secret will definitely be a good approach. I would see it as:
1. For simplicity using same/similar variables as in Vault Agent - https://www.vaultproject.io/docs/agent/index.html#vault-stanza
2. Making it work via a global switch like TLS_SECRET = ""
- if empty then no certs being loaded
- if we state a secret name then all needed settings i.e. VAULT_CACERT, VAULT_CLIENT_CERT shoul

[2019-12-08 20:57] ricoberger commented on #27
Hi @grzegdl, first of all thanks for your input.

If you want, you may like to check out the following PR #28.

[2019-12-09 07:30] grzegdl commented on #27
Thank you!

[2019-12-09 20:08] #27 closed

[2019-12-11 11:29] rust84 commented on #22
Thanks for the fix :+1:

[2020-01-16 12:03] dancb10 opened #30 "Vault API token autorefresh?"
Hello,
Does the operator automatically refreshes the Vault API token? What happens if the operator is down when the token expires?

[2020-01-16 12:31] #30 closed

[2020-01-16 12:31] dancb10 commented on #30
Nevermind, I've just seen in the code it automatically refreshes token

[2020-05-05 07:01] gites opened #34 "Unable to create ServiceMonitor"
`vault-secrets-operator` is failing to create ServiceMonitor resources with the message:
[code]
The corresponding `svc`s was created without problem:
[code]

I'm running Prometheus v2.17.2 in the same namespace.

K8s version
[code]

[2020-05-05 07:19] gites commented on #34
Oh, my bad. Didn't set the `WATCH_NAMESPACE` properly.

[2020-05-05 07:19] #34 closed

[2020-05-05 08:02] gites opened #35 "Howto configure custom CA"
I want to configure `vault-secrets-operator` to use my custom CA when connecting to Vault but without using mTLS (so no client cert and key). I've followed instructions in https://github.com/ricoberger/vault-secrets-operator/pull/28 , created a secret with the ca file and corresponding ENV mapping.

Secret:
[code]
ENV mapping:
[code]

When I try to deploy this I'm getting the following error:
[cod

[2020-05-05 16:52] ricoberger commented on #35
Hi @gites, your are right. The problem is the use of the `api.DefaultConfig()`. This function uses the same environment variables and expect that `VAULT_CACERT`, `VAULT_CLIENT_CERT` and `VAULT_CLIENT_KEY` are paths. There are two options to fix this:

- Use other names for the environment variables in the Vault Secrets Operator.
- Remove the custom logic for TLS handling and only use the default o

[2020-05-05 21:33] #35 closed

[2020-05-05 21:40] ricoberger commented on #35
The configuration handling for custom CAs should be fixed in version [1.5.0](https://github.com/ricoberger/vault-secrets-operator/releases/tag/1.5.0).

Sorry for the inconvenience. I'd be happy about your feedback.

[2020-05-06 11:43] gites commented on #35
@ricoberger thanks for quickly fixing this. 1.5.0 is working as expected. Really nice piece of software.

[2020-05-08 04:03] sarahhenkens opened #37 "Unable to create Service Monitor object if all namespaces are watched"
If no specific namespaces are defined, the value for the "watchNamespaces" === `""`:
https://github.com/ricoberger/vault-secrets-operator/blob/54b0db8d33403680eaaa93f769fee83e964c8156/cmd/manager/main.go#L120
[code]

This `namespace` variable eventually gets used to create its service monitor:
[code]

In our example, `namespace` equals an empty string and this is causing the following error:

[cod

[2020-05-08 12:47] ricoberger commented on #37
Hi @sarahhenkens first of all: thanks for the detailed description. I'm completely with you and created a PR (#38) for this. When I tested this I will create a new release.

[2020-05-08 15:33] #37 closed

[2020-05-08 15:38] ricoberger commented on #37
I published version [1.6.0](https://github.com/ricoberger/vault-secrets-operator/releases/tag/1.6.0) where the `ServiceMonitor` is not created anymore.

If you have further questions or suggestions feel free to reopen the issue or open a new one.

[2020-05-08 17:04] sarahhenkens commented on #37
Thank you for the super quick fix and release 🙌

[2020-05-08 18:59] sarahhenkens opened #39 "Feature Request: Managed sub-paths of a secret"
Hi 👋

In one of my use-cases (ArgoCD), I would like my vault-secret-operator to manage only one of the keys in an existing `Secret` object. Currently, if the Operator reconciles the entire Secret to only contain the specified keys in its own spec path.

It would be neat if we can specify in our `VaultSecret` spec to only reconcile the keys it knows and leave existing keys in the existing Secret.

[2020-05-27 16:48] ricoberger commented on #39
Hi @sarahhenkens, thanks for your detailed feature request and sorry for the late reply.

I think this could be a useful addition, but currently I don't know how quickly I can implement it.

[2020-06-20 21:21] #39 closed

[2020-06-20 21:29] ricoberger commented on #39
Hi @sarahhenkens, I finally found some time to work on this. You can check version [1.7.0](https://github.com/ricoberger/vault-secrets-operator/releases/tag/1.7.0) which contains the new feature. Sorry again that it takes that long.

[2020-06-30 07:37] angelichorsey commented on #35
I understand this is closed, but my issue is very relevant to this one and I'm not sure opening a whole new issue is necessary. I am also just attempting to provide the CA for secure connection to my external vault cluster outside of kubernetes. In fact, I wanted to switch to your operator from a previous because it's written in Java and configuring CAs in JKS is not very fun.

Initially when I se

[2020-06-30 07:58] ncw-ngeyer commented on #35
Well I guess I pasted it incorrectly or something because it works now. I leave this for anyone else confused, but I determined this issue was on Vault's end by running `curl` to the login endpoint manually. I decided to try pasting the CA again into the web UI of Vault for this auth method and now it's fine.

[2020-06-30 16:32] ricoberger commented on #35
So your issue is fixed or does the problem still exists?

[2020-06-30 22:30] angelichorsey commented on #35
It is fixed. I think I copied some hidden whitespace character initially. Thanks for writing this tool!

[2020-08-08 22:53] sarahhenkens commented on #39
Nice! Thank you so much!

[2020-08-28 04:59] Kampe commented on #20
If a user doesn't present a value for `WATCH_NAMESPACE` what behavior can we expect?  Will it have the ability to create vault secrets in all namespaces?

[2020-08-28 07:02] ricoberger commented on #20
Hi @Kampe, when `WATCH_NAMESPACE` is set to `""` all namespaces will be watched. The list of namespaces can be restricted with a value like `ns1,ns2,ns3`.

When the `WATCH_NAMESPACE` environment variable isn't set the operator would not start.

[2020-09-02 14:26] ecojan commented on #16
Hi @ricoberger
Wanted to double check, if `autoreconciliation` is enabled and a Vault secret is deleted, the kubernetes secret is not deleted correct?
I would point out this should probably be covered in the documentation, to alleviate any concerns.

[2020-09-02 17:50] ricoberger commented on #16
Hi @ecojan, when you delete a secret from Vault the secret in Kubernetes isn't deleted, but the operator will throw some errors that the secret can not be found in Vault anymore.

When you delete the CR `vaultsecrets.ricoberger.de` in your Kubernetes cluster, also the Kubernetes secret will be deleted.

[2020-09-03 07:51] ecojan commented on #16
That was my understanding as well, wanted to double check 👍  thank you!

[2020-09-15 00:58] Kampe opened #47 "Using the k8s auth method seeing issues around auth"
Hello!

I'm attempting to use the k8s auth method and am seeing strange behavior based on the ttl it seems and I'm wondering what's happening.  I'm manually setting my ttl in the deployment of the operator as such
[code]

However when the operator pod starts, it errors and I get
[code]

Any idea what's going on here?

[2020-09-15 01:27] Kampe commented on #47
ah judging by the code it looks like the errors are just outputting the wrong logs, I'll fix here in a minute when I get my auth method working and push up the change

[2020-09-15 02:29] Kampe commented on #47
Aha, closing this as you need to include `auth/` in front of your auth method: ie: `auth/this-auth-method/path/here`

[2020-09-15 02:29] #47 closed

[2020-09-23 15:30] moertel opened #48 "Token renewal failure time bomb 💣"
I'm using token-based auth and am wondering whether there's a design issue with how tokens are renewed.

Whatever the value of `VAULT_TOKEN_LEASE_DURATION`, with each failure to renew the token, the initial "buffer" (of the recommended 24h) will get smaller and smaller until it hits a lower limit where there's only **one** chance (two if you're lucky) for renewal until the token expires:

https://

[2020-09-24 20:29] ricoberger commented on #48
Hi @moertel, thank you for the detailed issue description. I would prefer your second solution, to keep the code simpler and that I haven't to maintain two logics (one with the `VAULT_TOKEN_RENEWAL_INTERVAL` and one without the environment variable, to not introduce a breaking change).

Maybe we can use an exponential backoff algorithm for the sleep time in case of an error. So that we retry after

[2020-09-25 13:27] moertel commented on #48
Both are fine with me. Personally, I always lean on the "making-it-configurable" side of things. One idea regarding backwards-compatibility: letting `VAULT_TOKEN_RENEWAL_INTERVAL` default to `VAULT_TOKEN_LEASE_DURATION*0.5` would keep the code working exactly like it is today.

Exponential backoff sounds neat but as we can assume that we still have a valid token for quite some time it's probably o

[2020-09-25 16:59] #48 closed

[2020-09-25 17:01] ricoberger commented on #48
Thanks for your contribution. The idea for the backwards compatibility sounds good. If you want to come up with another PR for this, you are welcome.

[2020-09-28 06:29] ricoberger commented on #48
Hi, your two PRs are included in the [1.8.0](https://github.com/ricoberger/vault-secrets-operator/releases/tag/1.8.0) release.

[2020-09-28 06:59] moertel commented on #48
Perfect, thanks a lot for the quick feedback and turnaround @ricoberger 👍

[2020-10-28 15:56] kungfuchicken opened #52 "Is it possible to import existing kubernetes secrets into vault?"
The examples in the readme show how to create a VaultSecret that pushes existing secrets in Vault into k8s, but the diagram has arrows going both ways. Is it possible to to upload an existing k8s secret into Vault?

[2020-10-28 16:55] ricoberger commented on #52
Hi @kungfuchicken, no this is not possible. At the moment the operator only syncs secrets from Vault to Kubernetes. Changes made to the Kubernetes Secret are not synced back to Vault.

[2020-11-02 21:40] ricoberger commented on #52
I would close this issue, since syncing Kubernetes secrets back to Vault is out of scope for the operator.

If you have any further questions feel free to reopen the issue or to open a new one.

[2020-11-02 21:40] #52 closed

[2020-11-12 15:32] jiphex opened #54 "Creating image pull secrets?"
I'm just interested if anyone's got a good way to use vault-secrets-operator to generate Kubernetes-compatible Image Pull Secrets?

I realise that I could do this (I think) by creating a `VaultSecret` object referencing a path in Vault which stores a _raw_ `.dockerconfigjson` style key (as shown in [a previous issue](!14)), but I guess really I'd like the keys in the Vault secret to be stored with

[2020-11-14 15:29] ricoberger commented on #54
Hi @jiphex, we are still creating image pull secrets in the way mentioned in the linked issue (#14). Since @bartmeuris PR is merged now and available in the latest release [1.9.0](https://github.com/ricoberger/vault-secrets-operator/releases/tag/1.9.0), we may switch to this approach.

[2020-11-14 15:48] #54 closed

[2020-11-14 15:48] jiphex commented on #54
Thanks ricoberger that's useful

[2020-11-16 12:38] prahaladramji opened #55 "Is it possible to use GCP service accounts (using workload identity) to auth against vault?"
This is a question and not an issue.

I'm running vault-secrets-operator in GCP on multiple GKE clusters and vault only on one. With [workload identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity) one can map kubernetes service accounts to a GCP service account.

This would reduce the complexity of managing cluster hosts and service account tokens with vault as an out

[2020-11-16 15:45] jiphex commented on #54
Just in case someone comes across this in future, I've made this work now using the templates support from [1.9.0](https://github.com/ricoberger/vault-secrets-operator/releases/tag/1.9.0)

[code]

[2020-11-16 18:45] ricoberger commented on #55
Hi @prahaladramji, I'm not very familiar with GKE, but when I get it right this would require to support [Google Cloud Auth Method](https://www.vaultproject.io/docs/auth/gcp) in the operator?

I'm not sure if this will be implemented soon, since I'm currently not able to test this properly. If you have an idea for the implementation and want to come up with a PR, you are welcome.

[2020-11-20 08:42] linuxbsdfreak opened #56 "K8s auth method issue"
Hi @ricoberger,

I am trying to setup the vault operator with the following command

[code]

It gives the following error

[code]

Why is it asking for the token if i have setup the K8s auth method after doing the steps from https://github.com/ricoberger/vault-secrets-operator#kubernetes-auth-method?

Kevin

[2020-11-20 21:13] ricoberger commented on #56
Hi @linuxbsdfreak, it looks like you run the commands mentioned in the readme before you installed the Helm chart.

You have to install the Helm chart first. The Helm chart will also create a service account, which is then used for the Kubernetes authentication.

The readme isn't clear at the order I think, sorry for that.

[2020-11-23 03:41] saikatharryc commented on #56
Yeah,,

after installation, you just need to do this:

[code]

and wait for the instance to spin back up.

[2020-11-23 03:55] saikatharryc opened #58 "Can Vault Roles be passed from the VaultSecret object itself"
different roles are having different policies attached usually,
if there is an option to pass roles from the `VaultSecret` secret object itself, it would be more flexible I believe.

right now, we pass only one role per cluster or maybe more accurately per installation of `vault-secrets-operator`.

and attached policy having access to say `kv/dev/*`
which means any path below that can be mounted i

[2020-11-23 14:30] linuxbsdfreak commented on #56
The only way to bootstrap is to create the namespace and the service account manually and thereafter the operator could be installed with

[code]
The operator starts up correctly then.

[2020-11-23 22:22] ricoberger commented on #56
Hi @linuxbsdfreak, I'm still not sure what the problem could be, normally it is like @saikatharryc said and you just have to run the following:

[code]

One thing you can check is, if the `vault-secrets-operator-token-XYZ` in the `vault-secrets-operator` namespace contains a token field:

[code]

I also created an e2e test for this use case (https://github.com/ricoberger/vault-secrets-operator/blo

[2020-11-24 07:58] linuxbsdfreak commented on #56
Hi @ricoberger ,

Thanks for the reply. The above steps would work. However as part of the bootstrapping the whole setup this would not be ideal. For eg. I would be using terraform to bootstrap K8s cluster and thereafter install the helm chart for the vault-secrets-operator. But i would like to avoid all the pod deletion steps. In that sense Terraform would create the namespace and service account

[2020-11-24 17:56] ricoberger commented on #56
hi @linuxbsdfreak, thanks for the explanation. An idea that came to my mind is to use a [post-install hook](https://helm.sh/docs/topics/charts_hooks/) in the Helm chart which automates the mentioned steps after the installation.

I'm not 100% sure if this should be an option, since we then have to pass the Vault credentials to the Helm chart. What do you think?

[2020-11-24 20:21] linuxbsdfreak commented on #56
Hi @ricoberger ,

That would not work, since i would need it part of a terraform run to be parsed. I would be executing the vault command with the vault terraform provider.

Kevin

[2020-11-25 19:45] ricoberger commented on #56
Hi @linuxbsdfreak, thanks for the feedback. Since it looks like that this isn't a problem with the operator, i would close the issue.

Feel free to reopen the issue, when you think this isn't resolved or create a new issue.

[2020-11-25 19:45] #56 closed

[2020-11-25 19:55] ricoberger commented on #58
Hi @saikatharryc,

I'm not sure if this is possible, because we have to provide the policy during the setup of the operator. When we create the role with the following command:

[code]

[2020-11-26 02:22] saikatharryc commented on #58
is it possible that when the operator on-demand pulling the secrets, we can pass a different role?
and by default for the operator to run we can have `vault-secrets-operator` as usual, to which we can give very minimal permission.

TL;DR everything would be same,
just that, role passing through the `VaultSecret will be over ridden while pulling that particular secret.`

E.g:

[code]
In this case,

[2020-12-01 21:57] rra opened #59 "Created secrets missing ownerReferences metadata"
Since upgrading to vault-secrets-operator 1.10.0 from 1.9.0, vault-secrets-operator is no longer setting the `ownerReferences` metadata on the secrets it creates.

We use Argo CD for Git ops on Kubernetes clusters, and it relies on this metadata to know that the `Secret` is derived from the `VaultSecret` and therefore is an expected resource. Without this metadata, the secrets all show up as stray

[2020-12-01 22:36] #59 closed

[2020-12-01 22:42] ricoberger commented on #59
Hi @rra, sorry I think I forget that during the migration to the new Operator SDK version.

This should be fixed in version [1.10.1](https://github.com/ricoberger/vault-secrets-operator/releases/tag/1.10.1).

[2020-12-01 23:16] rra commented on #59
Wow, thank you for the incredibly fast fix! I've deployed the new version and confirmed that it fixes the problem.

[2020-12-04 17:56] ricoberger commented on #58
Hi @saikatharryc, I looked a bit deeper into this and If we found a good way to implement this, we can do it. Before we start implementing this I would clarify the process, so that we are on the same track.

We enable the Kubernetes auth method and tell Vault how to communicate with the Kubernetes cluster:

[code]

No we are creating different roles with different policies:

[code]

Now we can use

[2020-12-05 08:25] saikatharryc commented on #58
Yes this is the exact point I had in mind!
Implementation of this would be extremely useful.
--
 *Saikat Chakrabortty*
* +91-8373886873 *
*+91-8918815688*

[2020-12-10 10:56] fernando-villalba opened #62 "Any plans to make the kustomize templates more comprehensive?"
I noticed you included a kustomize config section in your repo which is great but it's missing a few things, such as healthchecks or the env variables. Of course that could be added by any user but it would be very helpful if they contained everything that's needed for it to work so it is easier to create overlays for them, etc without having to compare with what's on helm.

[2020-12-10 20:33] ricoberger commented on #62
Hi @fernando-villalba, you are right, the kustomize setup deserves more attention. I created a PR (#63), which results in the same setup like the one for Helm.

[2020-12-11 09:24] fernando-villalba commented on #62
You are awesome sir! Feel free to close this whenever you merge it to master.

[2020-12-30 09:29] kirillr123 opened #68 "Using vault-secrets-operator with custom CA"
Hello!
I have vault hosted with ssl certificate issued by a custom CA. How can I add CA certificates to containter? Right now vault-secrets-operator throws following error
2020-12-30T08:31:26.942Z        ERROR   Could not create API client for Vault   {"error": "Put https://hostname: x509: certificate signed by unknown authority"}

[2020-12-30 09:32] kirillr123 commented on #68
Forgot to check closed issues. Found an answer there :)

[2020-12-30 09:32] #68 closed

[2020-12-30 16:54] #58 closed

[2020-12-30 16:57] ricoberger commented on #58
Hi @saikatharryc, it is now possible to set the Vault Role via the `vaulRole` property in the VaultSecret.

The new [1.11.0](https://github.com/ricoberger/vault-secrets-operator/releases/tag/1.11.0) release contains this feature.

[2020-12-31 03:14] saikatharryc commented on #58
Thanks a lot! I will test this out.

[2021-01-05 17:35] vinay2107 opened #70 "Errors: namespace not authorized"
Hello, I recently upgraded my vault-secrets-operator to version `1.11.0` to test the new `vaultRole` field on the VaultSecret CR.
I get the below error by doing so.
`2021-01-05T17:20:50.449Z	INFO	controllers.VaultSecret	Create client to get secret from Vault	{"vaultsecret": "mynamespace/testing-secret", "vaultRole": "myrole"}
2021-01-05T17:20:54.197Z	ERROR	controller	Reconciler error	{"reconcilerG

[2021-01-05 18:13] ricoberger commented on #70
Hi @vinay2107, thanks for reporting. Your Vault role `myrole` must be bound to the service account for the operator. The default name of the service account is `vault-secrets-operator`. Can you check the configuration of your role in Vault please. It should look as follows:

![Bildschirmfoto 2021-01-05 um 19 10 09](https://user-images.githubusercontent.com/18552168/103682867-b9b9af80-4f89-11eb-8f7

[2021-01-05 18:33] vinay2107 commented on #70
Thanks for the quick reply @ricoberger

In my setup,

The `vault-secrets-operator` is deployed in a different namespace ex: `mynamespace2` and `myrole` role is bound to `*` service account and `mynamespace` namespace.

What I am trying to achieve here is that I want to deploy a single vault-secrets-operator instance in a namespace managed by me and then allow all my customers to deploy their `vaul

[2021-01-05 18:57] ricoberger commented on #70
Hi, I think this doesn't work this way. When the operator is deployed in the namespace `mynamespace2` then the Vault role `myrole` must be bound to the `vault-secrets-operator` service account in `mynamespace2`.

Then you can use `myrole` in every namespace. It is not possible to configure the operator that way, that a role can only be used in one namespace. For such a use case the operator must b

[2021-01-12 10:56] fernando-villalba opened #71 "Cosmetic changes to kustomize"
Just wanted to suggest a couple of changes that may make it easier for you and more legible (and usable) for others, feel free to close and disregard if it doesn't feel natural to you.

In [here](https://github.com/ricoberger/vault-secrets-operator/blob/master/config/default/kustomization.yaml) you have this:

[code]

The `bases` field is [deprecated](https://kubectl.docs.kubernetes.io/references/

[2021-01-14 19:26] ricoberger commented on #71
Hi @fernando-villalba, thanks for your suggestions. I switched from the `bases` to the `resources` field and also added the `apiVersion` and `kind` fields to the kustomize files in PR #72.

I would leave the image logic as it is, because we do not build a image with `latest` tag and only have Docker images for a tagged release.

[2021-01-17 21:37] #71 closed

[2021-01-27 18:26] ricoberger commented on #70
Hi @vinay2107, could you solve your problem?

[2021-02-01 16:58] swarren83 opened #73 "Support for multiple vault namespaces"
I do not see where to set the vault namespace that secrets are pulled from.  Would it be possible to add vault_namespace to spec and use this in calls to execute [client.SetNamespace](https://github.com/hashicorp/vault/blob/master/api/client.go#L661)?

I have a use case where I have split my secrets across multiple vault namespaces to group them.  I would like to use a single role to access these

[2021-02-01 17:56] ricoberger commented on #73
Hi @swarren83, we do not have a Vault Enterprise license, so I'm not 100 percent sure how this feature works. After a first look into the [documentation](https://www.vaultproject.io/docs/enterprise/namespaces#usage) it seems possible to specify the namespace within the path:

My assumption would be, that it would already work, when the namespace is set as follows:

[code]

Could you try this out?

[2021-02-01 18:31] swarren83 commented on #73
That may work for kv1 but kv2 the path gets prefixed with "data".  That would turn `ns1/ns2/secret/foo` to `data/ns1/ns2/secret/foo` which is malformed.

[2021-02-01 20:27] ricoberger commented on #73
Hi @swarren83, thanks for the clarification. I created #74 for this feature. Which adds a new field named `vaultNamespace` to the CR. The value from this field is then used to set the `X-Vault-Namespace` header right before the request to get the secret from Vault is executed.

Since we do not have a Vault Enterprise license, it would be very helpful, if you can test this feature, before we merge

[2021-02-01 20:38] swarren83 commented on #73
Yes, I would be happy to help with testing.  I am getting our environment setup to deploy vault-secrets-operator.  How long do you expect the change to take before it is ready for testing?

[2021-02-01 21:09] ricoberger commented on #73
The PR should be ready for testing now. If I get it right, just the `X-Vault-Namespace` is needed.

You can use the following Docker image `ricoberger/vault-secrets-operator:dev` and CR `https://raw.githubusercontent.com/ricoberger/vault-secrets-operator/d20090095ad4ccb69663b19b6af5410a1d2d640d/config/crd/bases/ricoberger.de_vaultsecrets.yaml`.

If you are using the Helm chart, you can also use th

[2021-02-02 14:19] swarren83 commented on #73
Thank you, I am getting our infrastructure configured to test this dev version.  I will update you if I have questions, comments, or the tests where successful.

[2021-02-02 15:28] swarren83 commented on #73
@ricoberger I need a way to set the namespace that vault uses during authentication.

`2021-02-02T15:18:01.039Z        ERROR   Could not create API client for Vault   {"error": "Put https://myvault.com:443/v1/auth/
kubernetes/login: dial tcp 1.2.3.4:443: connect: connection refused"}
`

This either needs the vault namespace appended to the URL or the `X-Vault-Namespace` header set with the value.

[2021-02-02 16:43] ricoberger commented on #73
Thanks for testing it 🙂

I think we can add such value, but then the `vaultNamespace` field in the CR doesn't make much sense, because the operator is only able to operate in the namespace, which was set via this property, right?

One option could be to create a new client for each secret, when the `vaultNamespace` field is set (similar to how it is done for the Vault role https://github.com/ricob

[2021-02-02 16:53] swarren83 commented on #73
I like updating the `vaultNamespace` for each client call.  In my use case, we auth to a root namespace and then switch to team namespaces to fetch secrets.

rootNamespace = my/root/ns
teamNamespace = team1

My auth call would set `X-Vault-Namespace` to `my/root/ns` and then get secret would set `X-Vault-Namspace` to `my/root/ns/team1`.  Does that make sense?

[2021-02-02 17:28] ricoberger commented on #73
Makes sense. Would it also work if the auth call sets `X-Vault-Namespace` to `my/root/ns/team1` or is this not possible?

[2021-02-02 17:53] swarren83 commented on #73
Unfortunately, no that will not work.  The namespace has an auth module configured on it and when you set the namespace on the client it effectively switches namespaces and uses the configuration for the current namespace.

In my example, the rootNamespace has the auth configuration and the teamNamespace is simply used to group secrets and allow for access controls.

[2021-02-10 06:28] #73 closed

[2021-02-11 19:46] pbchekin opened #79 "Support for approle auth method for Vault"
It would be nice to support approle auth method for Vault:
https://www.vaultproject.io/docs/auth/approle

It will require adding an additional `authMethod` `approle`. Also the following settings are needed:
* `VAULT_ROLE_ID`
* `VAULT_SECRET_ID`
* `VAULT_APP_ROLE_PATH`
* `VAULT_TOKEN_MAX_TTL` - a Vault token returned by the approle auth method  has a maximum TTL (usually 30 days), so we can renew t

[2021-02-12 15:30] #70 closed

[2021-02-12 15:31] ricoberger commented on #79
Hi @pbchekin, this sounds like a useful addition for the operator. Feel free to create a PR for this 🙂.

[2021-02-12 19:53] swarren83 opened #80 "No status in VaultSecret resource"
@ricoberger Would it be possible to add a status section to the VaultSecret resource when described?  Status field could show one of the following:

- Pending
- Success
- Failed
- Unknown

Failed would mean that the k8s secret failed to be created.

This can be added to [`VaultSecretStatus` struct](https://github.com/ricoberger/vault-secrets-operator/blob/1807db03f2abddb506b60e6c2a90c367a5505ef8/a

[2021-02-12 20:11] swarren83 commented on #79
@pbchekin I am interested in being able to use this auth method as well.  Let me know how I can help.

[2021-02-12 20:28] ricoberger commented on #80
Hi @swarren83, sounds like a useful addition. If you want to create a PR you are welcome.

Maybe it can also contain the error message, when the status is set to failed.

[2021-02-12 21:15] acornax opened #81 "Inappropriate role binding created by helm chart when rbac.namespaced is true"
We're trying to use vault-secrets-operator from within k8s namespaces.

Reading the values file indicated that we should be setting `rbac.namespaced` to `true`. See [here](https://github.com/ricoberger/vault-secrets-operator/blob/f9650e4d284f3ae18e74d41f4614770fc4b4f387/charts/vault-secrets-operator/values.yaml#L66)

Unfortunately, this causes vault-secrets-operators' chart to create a `RoleBindin

[2021-02-12 21:18] acornax commented on #81
Unless I'm mistaken I think a `ClusterRoleBinding` should always be created. I'm happy to submit an MR.

[2021-02-13 00:10] bartmeuris commented on #81
I added this `namespaced` config to allow a vault operator instance per namespace. This instance "namespaced" instance can then have limited access to a subset of the vault instance, with it's own ACL rules in Vault. For this reason, a `RoleBinding` is used, allowing the service account only access to the current namespace, instead of a global `ClusterRoleBinding`.

[2021-02-13 01:09] acornax commented on #81
We are running a vault operator instance in each namespace as well. The issue we're having is that vault cannot create `TokenReview` resources when the service account JWT it is using only has a`RoleBinding`.

As I understand it, the reason for this is that `TokenReview` resources are not namespaced in kubernetes.

[2021-02-14 18:40] ricoberger commented on #81
Hi @acornax, I didn't find the time to verify this, but after reading the following blog post https://wanwenli.com/kubernetes/2019/08/28/k8s-tokenreview-api-vault.html, I think you are right and we have to create a ClusterRoleBinding, which binds the `system:auth-delegator` ClusterRole to the ServiceAccount, when the Kubernetes authentication method is used.

I will check this out as soon as possi

[2021-02-15 05:14] pbchekin commented on #79
@ricoberger, I've created #82 for this feature.
@swarren83 I think you can help with reviewing and testing the PR.

In my environment, I've tested that there are no regressions for `token` auth method and tested that the new `approle` works as expected. To test that the new code works and requests a new token, I've created AppRole that creates shot living tokens like this:

[code]

[2021-02-15 16:40] bartmeuris commented on #81
At the moment token-based, k8s based was limited to one cluster last time I checked, and I'm dealing with quite a few more (and only one vault instance)

[2021-02-15 19:41] ricoberger commented on #81
Thanks @bartmeuris, thats it. The described problem is "only" relevant, when the operator uses the Kubernetes auth method.

I created an PR, which should fix the problem, by creating an additional ClusterRole and ClusterRoleBinding, when the Kubernetes auth method is used. This should allow namespaced deployments using the Kubernetes auth method now.

@acornax if you want, you can test #83, before

[2021-02-16 01:05] acornax commented on #81
Thanks! I'll test it out tomorrow.

[2021-02-16 18:41] #81 closed

[2021-02-17 17:58] ricoberger commented on #79
New version [1.13.0](https://github.com/ricoberger/vault-secrets-operator/releases/tag/1.13.0) includes the mentioned PR.

Thank you for your contribution 🙂

[2021-02-17 17:58] #79 closed

[2021-02-17 18:20] acornax commented on #81
I just wanted to follow up and confirm everything works on our end. Thanks so much for making this change!

[2021-02-17 18:22] ricoberger commented on #81
Thanks for reporting and your feedback.

[2021-03-03 20:29] ricoberger commented on #80
Hi @swarren83, did you started working on this?

If not a can have a look at this in the next day.

[2021-03-04 01:36] swarren83 commented on #80
@ricoberger No, I have been unable to start work on this feature.  If you get to it before I do, I can help test it.

[2021-03-14 19:14] ricoberger commented on #80
Hi @swarren83, if you want, you can check out #90 for this feature.

[code]

[2021-03-16 12:53] swarren83 commented on #80
@ricoberger Thank you for taking care of this feature.  It looks great!

[2021-03-16 17:36] #80 closed

[2021-03-19 10:52] kiich opened #91 "Could not create API client for Vault login: x509: certificate signed by unknown authority - can we support tls-skip-verify?"
First of all, great tool! I was looking a way to create a vault secret that hashicopr vault injector retrieves as Kubernetes secret because one of our app does not let you source a file to set environment variable and only other way was to supply a kubernetes secret which i did not have the means to create until i found your tool!

I've deployed as per your readme but ran into the below:
[code]

a

[2021-03-19 11:19] ricoberger commented on #91
Hi @kiich, sorry this isn't documented very well. Can you try the following environment variable to skip the TLS verification:

[code]

The other environment variables for working with custom certificates can be found in the release notes for version [1.4.4](https://github.com/ricoberger/vault-secrets-operator/releases/tag/1.4.4).

All the [environment variables](https://www.vaultproject.io/docs/c

[2021-03-19 11:26] kiich commented on #91
Ahh that's brilliant! Thanks for letting me know so quickly. Let me try that out and will let you know.

[2021-03-19 16:18] kiich commented on #91
@ricoberger That was it! i can now connect to vault fine. thank you.
1 more question - does this mean it should also support the:

[code]
environment variable? i ask because i set that to work with Vault enterprise namespace but it does not seem to take effect and errors when i create the vaultsecret.

[2021-03-19 16:24] kiich commented on #91
ahh i just found https://github.com/ricoberger/vault-secrets-operator/pull/74 - let me try this.

[2021-03-19 18:19] kiich commented on #91
https://github.com/ricoberger/vault-secrets-operator/pull/74 worked a treat! thanks @ricoberger

[2021-03-19 18:20] #91 closed

[2021-03-19 18:39] ricoberger commented on #91
Nice and thanks for verifying 🙂

[2021-03-20 23:52] ChipWolf opened #92 "Support ARM"
Could you please build the containers for arm/arm64 as vault-k8s [now supports arm](https://github.com/hashicorp/vault-k8s/issues/64#issuecomment-802381296)

[2021-03-21 13:21] ricoberger commented on #92
Hi @ChipWolf, I do not have an arm system at the moment. Can you test, if the `ricoberger/vault-secrets-operator:dev` image works on arm?

[2021-03-21 16:01] ChipWolf commented on #92
Hi @ricoberger doesn't seem to work yet, the app is still expecting amd64.
https://github.com/ricoberger/vault-secrets-operator/blob/add-arm-support/Dockerfile#L19

Probably the GOARCH? I can provide you with a fresh cloud instance with arm64 for testing if required.

[2021-03-21 17:09] ChipWolf commented on #92
Checking the [latest build](https://github.com/ricoberger/vault-secrets-operator/runs/2160488585)

[2021-03-21 17:27] ChipWolf commented on #92
Seems to initialize, some kind of regression though, there's a missing flag ![](https://i.cwlf.uk/NLD5w)

[2021-03-21 17:28] ChipWolf commented on #92
Seems to initialize now @ricoberger, some kind of regression though, there's a missing flag ![](https://i.cwlf.uk/NLD5w)

[2021-03-24 07:32] ricoberger commented on #92
Hi @ChipWolf, thanks for testing 🙂.

Yes we had to adjust the Helm chart in one of the last version, because of the latest Operator SDK update.

[2021-03-25 16:03] JBodkin-LH opened #94 "Kubernetes auth fails after a period of time passes"
We've noticed that the operator starts failing with permission denied (403) errors after a period of time passes when using the kubernetes auth mechanism. Restarting the pod fixes the issue however, is there a setting that we can change somewhere so that we don't need to do this?

[code]

[2021-03-25 17:15] ricoberger commented on #94
Hi @JBodkin-LH, can you check if you have set the `VAULT_TOKEN_LEASE_DURATION` environment variable. The variable should contain the duration your token is valid. Then your token should be renewed after the half of this time is passed.

If you want more control over the renew interval you can set the `VAULT_TOKEN_RENEWAL_INTERVAL` and `VAULT_TOKEN_RENEWAL_RETRY_INTERVAL` environment variables.

[2021-03-27 23:16] ChipWolf commented on #92
Works perfectly @ricoberger

[2021-03-29 05:53] #92 closed

[2021-03-29 05:54] ricoberger commented on #92
Hi @ChipWolf, thank you for testing the change 🙂.

[2021-03-31 09:19] d3m0n1c opened #96 "Not able to start with not renewable token"
Trying to run my project locally with not renewable token.
[code]
Having following error:
[code]
Can I somehow disable token renewing and work with a fixed token on Dev environment?

[2021-04-01 16:05] ricoberger commented on #96
Hi @d3m0n1c, currently this is not possible. Maybe we can add another environment variable to disable token renewing.

[2021-04-01 17:15] d3m0n1c commented on #96
@ricoberger, it would be great! Thanks.

[2021-04-05 19:06] ricoberger commented on #94
Hi @JBodkin-LH  do you still see this error or can this issue be closed?

[2021-04-05 19:17] #96 closed

[2021-04-05 19:20] ricoberger commented on #96
Hi @d3m0n1c, instead of introducing a new environment variable, I fixed the nil pointer exception (#100).

The operator should now work with tokens, which can not be renewed. The renew function will still be triggered on a regular basis, but you can increase the interval with the `VAULT_TOKEN_RENEWAL_RETRY_INTERVAL` environment variable, e.g. to 1 hour `VAULT_TOKEN_RENEWAL_RETRY_INTERVAL=3600`.

[2021-04-08 17:27] prakharrr-sl opened #101 "Is vault-secrets-operator supported on older k8s version?"
Hi @ricoberger,
Sorry I couldn't find a supported versions list. I wanted to try VSO on an older version of k8s cluster. Do you know if this would work in 1.10.x ?

[2021-04-08 17:41] ricoberger commented on #101
Hi @prakharrr-sl, no the operator isn't working with this version. The operator uses the `apiextensions.k8s.io/v1` API for the CRD, which was introduced in v1.16. This should also be the oldest version which is supported right now.

[2021-04-08 18:00] prakharrr-sl commented on #101
@ricoberger Gotcha!
Thanks for your prompt response!

[2021-04-08 18:00] #101 closed

[2021-04-16 15:40] JBodkin-LH commented on #94
Sorry, I missed this, I was expecting to get a notification when you replied. I don't think we've set that environment variable so I will give that a try and get back to you next week

[2021-04-22 04:18] anuragpulla opened #103 "Access based on vault policies"
Hello,

Is there a way we can have access control with the kubernetes auth method similar to how the [vault agent injector](https://github.com/hashicorp/vault-k8s)  has? For instance, it fetches the secret only if you/(serviceaccount) are authorized to read the secrets from a a given path in vault.

I see the option for using vaultRole but looking for a way for it to restrict using a certain role

[2021-04-22 18:06] #94 closed

[2021-04-25 19:23] ricoberger commented on #103
Hi @anuragpulla, during the setup you can specify the Vault Role, which should be used by the operator:

[code]

You can also run multiple instances of the operator. Each operator will then use his own ServiceAccount with it's configured Vault Role. When you run multiple instance of the operator you can also restrict the namespaces, which should be managed by an instance of the operator via the [`

[2021-04-26 17:28] anuragpulla commented on #103
Yes this definitely helps, thank you so much for the details. :)

[2021-05-05 18:44] rgruyters opened #104 "Claim iss is invalid"
I'm trying to deploy vault-secrets-operator in my environment, but I have some issues.

I see the following message in de vault-secrets-operator pod:

[code]

Similar message in the audit log of Vault:

[code]

I'm using Helm chart version 1.14.3 with the following custom values:

[code]

Here is my policy:

[code]

I have tried with curl command and it works:

[code]

Any idea why?

[2021-05-05 19:27] ricoberger commented on #104
Hi @rgruyters, if I get it right from your shared code snippets, you installed the operator into the `kube-system` namespace, right?

Did you follow the steps from [Kubernetes Auth Method](https://github.com/ricoberger/vault-secrets-operator#kubernetes-auth-method) to authorize the service account to access Vault?

Which version of Vault are you using?

[2021-05-05 20:22] rgruyters commented on #104
Hi, I have followed these steps already for Cert Manager by following these steps, [Configure Kubernetes Authentication](https://learn.hashicorp.com/tutorials/vault/kubernetes-cert-manager#configure-kubernetes-authentication).

I'm currently running Vault version 1.7.1.

As said, it works fine when using the curl command with the JWT token from the vault-secrets-operator ServiceAccount against the

[2021-05-05 20:58] ricoberger commented on #104
Can you exec into the operator container and check the JWT token which is used their please:

[code]

It could also help if you can past the JWT token from the cat command at [jwt.io](https://jwt.io) and check the payload data, which should look like:

[code]

[2021-05-06 07:02] rgruyters commented on #104
Here you go!

[code]

(FYI, i have deployed it now in a different namespace)

[2021-05-06 07:04] rgruyters commented on #104
When I check the token from `secrets/vault-secrets-operator-*` I get this:

[code]

[2021-05-06 16:47] ricoberger commented on #104
Mh normally this should be the same token. Can you check the deployment, if the correct service account is referenced there?

What also could help, if you can provide me all the commands to reproduce the issue.

[2021-05-06 17:06] rgruyters commented on #104
[code]

For Vault I used the following steps:

[code]

For Helm Chart:

[code]

Here is my custom values for the Chart:
[code]

Just to be sure:
[code]

[2021-05-06 17:56] ricoberger commented on #104
Thanks for sharing. I run your provided commands and it works 🤔

Can you try to rerun the vault commands, maybe sth. went wrong there:

[code]

<details>
<summary>Commands for testing</summary>

[code]

[code]

[code]

[code]

[code]

[code]

[code]

</details>

[2021-05-07 08:51] rgruyters commented on #104
I have done the same on a local dev cluster and works fine. I have deleted my Vault service on my cluster and rebuild it, but still the same issue.

The only thing that I can think of is that my cluster is deployed via k3s and running on Raspberry PI 4. (ARM)

[2021-05-07 09:49] rgruyters commented on #104
Because this cluster is a new k3s cluster. I have destroyed and rebuild it. Same issue. Because I was using the latest channel (v1.21.0+k3s1) of k3s I moved back to the stable channel (v1.20.6+k3s1). And now it works!

The question is, why?

[2021-05-07 13:28] trexx commented on #104
See related issue that has helped us:
https://github.com/external-secrets/kubernetes-external-secrets/issues/721

[2021-05-09 14:13] ricoberger commented on #104
Nice finding @rgruyters and thanks for sharing @trexx.

[2021-05-12 06:57] ryneal opened #105 "Cannot renew token after a period of time using kubernetes auth"
I'm experiencing a scenario using kubernetes auth where (for reasons I'm yet to understand) the token renewal is failing after a number of successful attempts

The logs are below (vault URL ommitted);

[code]

I have the following environment variables set;

[code]

Lease & Max TTL are set as vault defaults currently. As my renewal is every 2.5 minutes, I'm seeing successful token renewal for 15 m

[2021-05-12 19:42] ricoberger commented on #105
Hi @ryneal, does the operator log any errors, when the renewal stops working after 15 minutes.

I think checking, if the renewal of tokens failed to often within the liveness probe endpoint, would be a good idea. I will look into this asap.

[2021-05-13 07:22] ryneal commented on #105
@ricoberger the only errors I can see are the ones included above

I seem to have it operating more stable now by ensuring the following;

- The role has Max generated tokens set to '0' (unlimited). I believe there's a bug in Vault here as I had not set it on creation and it was still presented as zero.
- Use default TTL and max TTL rather than setting it (max TTL was set on the role to 900 second

[2021-05-18 16:58] #103 closed

[2021-05-24 12:15] ricoberger commented on #105
I published a new release [1.14.5](https://github.com/ricoberger/vault-secrets-operator/releases/tag/1.14.5), were the liveness probe will fail, when the renewal of the Vault token failed 10 times.

[2021-05-25 07:34] ryneal commented on #105
thank you @ricoberger, I will deploy this latest release

Would it worth considering for future iterations that the failed threshold can be set by an environment variable?

[2021-05-25 17:49] ricoberger commented on #105
Yes, this shouldn't be a problem.

[2021-06-29 20:15] ChipWolf opened #115 "Helm upgrade from 1.14.5 to 1.15.0 deleted the CRD"
I don't immediately see why, but the helm upgrade from 1.14.5 to 1.15.0 deleted the VaultSecret CRD.
I downgraded to 1.14.5, the CRD reappears; on upgrade, it disappears again.

[2021-06-30 16:30] ricoberger commented on #115
Hi @ChipWolf, we had a breaking change in the Helm chart for version 1.15.0 to follow the best practice for CRDs which is recommended in the Helm documentation (#111).

You can uninstall and then install the Helm chart to have the CRD with version 1.15.0.

Another option would to the delete the corresponding Helm secrets, deleting all resources for the Helm chart except the CRD and reinstalling th

[2021-07-30 20:04] avbasov commented on #115
If CRD is gone, all vaultsecrets are deleted automatically. Loosing existed vaultsecrets is an unacceptable situation for me. So, there is the third kinda hacky way. You can actually make Helm think that CRD wasn't installed by it. For that you need to modify Helm secret that contains information about the last installed vault-secrets-operator release.

[2021-09-01 13:25] canidam opened #117 "Kubernetes auth method fails to login with code 400: missing client token"
I'm using vault-secrets-operator version **1.15.0** with EKS v1.20

I configured everything according to the documentation, however it still fails with

[code]

I think the operator should print it's configuration upon start. All I could see is the env variables were configured properly. I only changed the **authMethod: kubernetes** and configured everything on the Vault side. Also, the vault <-->

[2021-09-01 15:35] #117 closed

[2021-09-01 15:35] canidam commented on #117
Sorry for the trouble, I figured out the wrong configuration. However, I still think it's worth to print the non-sensitive configurations on startup; it helps to find the problems sooner

[2021-09-27 07:35] #105 closed

[2021-10-14 18:08] Ankitcapco opened #120 "truststore","error":"invalid secret data","
Hi there, I want to use VSO in our environment. Previous version is working fine but newer version (1.15.1), is giving following error-

"level":"error","ts":1634234176.9586139,"logger":"controllers.VaultSecret","msg":"Could not get secret from vault","vaultsecret":"pz-pz-nint111-qa/truststore","error":"invalid secret data","stacktrace":"github.com/go-logr/zapr.(*zapLogger).Error\n\t/go/pkg/mod/gi

[2021-10-20 14:52] slacksach opened #121 "Add ability to disable automatic 'created-by' annotation"
We would like to disable the automatic adding of the created-by label. We love the operator but we find this label distracting.

[2021-10-25 15:49] #121 closed, assigned to nobody

[2021-10-25 16:08] TJM opened #123 "imagePullSecrets for GCR - gcp secrets engine"
Hi all,

I was looking at #54 to create imagePullSecrets, and that looks like it *might* work, but the secret that I am trying to access is not a "kv" type. The credential comes from the [gcp secrets engine](https://www.vaultproject.io/docs/secrets/gcp). So, as my goal is to get a secret (`imagePullSecrets`) to access GCR, would it be better to try to hack at this code to use the GCP secrets engin

[2021-10-29 08:47] linuxbsdfreak opened #124 "Error with K8s Auth Method"
Hi  @ricoberger

I am getting the following error in the operator

400. Errors:\n\n* 1 error occurred:\n\t* error running lookahead function for mfa: could not parse UID from claims\n\n","stacktrace":"runtime.main\n\t/usr/local/go/src/runtime/proc.go:225"

I saw this https://github.com/hashicorp/vault-plugin-auth-kubernetes/issues/107

It say something related to JWT token. I am configuing it via

[2021-10-30 21:07] ricoberger commented on #124
Mh this looks good to me. Does the same error occur, when you use the steps from the readme, instead of Terraform to configure Vault: https://github.com/ricoberger/vault-secrets-operator#kubernetes-auth-method

[2021-10-30 21:10] ricoberger commented on #123
Hi @TJM, I think adding support for the Google Cloud Secrets Engine would be the best way to support your use case. Unfortunately I do not have that much experience with GCP and Vault.

If you or someone else wants to add support for the Google Cloud Secrets Engine, I think it could be done in a similar way like it was done for Azure: https://github.com/ricoberger/vault-secrets-operator/pull/114

[2021-11-01 19:33] TJM commented on #123
That PR looks like an authentication mechanism, rather than a secrets engine. The GCP Secrets Engine would replace KV or KVV2, which hold manual/static secrets, with dynamic secrets (like AWS it creates the service account and returns the credentials). I have a [vault agent based solution](https://github.com/TJM/vault-gcr-secrets) (hack?) working, but I would consider it to be very alpha. https://

[2021-11-01 20:36] ricoberger commented on #123
Ah ok, sorry for misunderstanding, hopefully I got it now:

- For the authentication against Vault, the Operator should use one of the existing authentication methods (e.g. Kubernetes auth method, token auth method, ...)
- Then the operator should support the command [`vault read gcp/roleset/my-key-roleset/key`](https://www.vaultproject.io/docs/secrets/gcp#service-account-keys), so that the `priva

[2021-11-01 22:03] TJM commented on #123
Yes, sir! This sounds right.

To make things a little more complicated, we would have to do some trickery with the data returned because of the way that kubernetes formats the "docker-registry" type certificates, or rather the fact that Google wants the entire key.json as the `docker-password` option (JSON in JSON). I think we can probably handle it, but the "escaping" of all the quotes in the jso

[2021-11-02 09:04] ricoberger commented on #123
Can you maybe share the output of the following command `vault read -format=json gcp/roleset/my-key-roleset/key` without any confidential data?

[2021-11-02 09:31] linuxbsdfreak commented on #124
@ricoberger . Yes i tried the same steps in the README and get the same error.

[code]

[2021-11-02 10:03] linuxbsdfreak commented on #124
K8s version is 1.21.5 and Vault Enterprise 1.7.3

[2021-11-02 19:21] ricoberger commented on #124
I tried to reproduce the issue in the tests (#127) with your Kubernetes and Vault version without success. The only think I get is the `claim "iss" is invalid` error when not setting `disable_iss_validation=true`.

Looking at https://github.com/hashicorp/vault-plugin-auth-kubernetes/pull/108, which fixes the problem within Vault  it looks like this was not backported to Vault 1.7.x and is only ava

[2021-11-02 20:08] #104 closed

[2021-11-02 20:10] ricoberger commented on #104
For everyone coming across this issue. This can be fixed by setting the `issuer` while configuring the Kubernetes auth method.

The docs are updated for Kubernetes 1.21.x and newer (see #128).

[2021-11-03 09:33] linuxbsdfreak commented on #124
@ricoberger Thx. I even tried disable_iss_validation=true and it still did not work. I will try to check with Vault 1.8.x

[2021-11-03 12:14] linuxbsdfreak commented on #124
So i validated on 1.8.x and it worked if i set disable_iss_validation=true

[2021-11-03 13:21] ricoberger commented on #124
Nice 🙂

You can also set the `issuer` instead `disable_iss_validation`, see #128.

[2021-11-05 04:58] TJM commented on #123
@ricoberger The output is pretty boring... I can tell you that the part that we care about is base64 encoded in the json key `private_key_data`.

We use the vault template:

[code]
Here is the censored version:

[code]

the last one is pretty straightforward too, as it doesn't really connect to vault...

[code]

[2021-11-05 16:53] swarren83 opened #129 "promote api to v1beta1 and v1"
Create v1 and v1beta1 versions of the api.

[2021-11-10 19:48] ricoberger commented on #123
Hi @TJM, I tried to implement support for GCP.

I would need some help to verify that it is working. Can you maybe take a look at #130 and test the Docker image with the `dev` tag?

This would be very helpful.

[2021-11-12 07:12] tuananh opened #131 "cannot renew token with k8s auth"
i'm seeing this in the log

[code]

the policy looks like this

[code]

i have this in helm values

[code]

[2021-11-12 07:48] tuananh commented on #131
the operator can read the secret and create k8s secret accordingly (with correct value) so that part is good.

it's failing at renew step though

[2021-11-12 15:45] TJM commented on #123
@ricoberger THANKS! ... I saw this yesterday, but was in meetings all day ;( ... I need to get some project work completed today, but will jump on testing this next week. Sorry for the delay

[2021-11-15 07:45] tuananh commented on #131
@ricoberger could you please take a look at this?

[2021-11-15 08:28] ricoberger commented on #131
Hi @tuananh we are only setting the following policy for the operator:

[code]

I will have a detailed look at your issue today in the afternoon.

[2021-11-15 08:37] tuananh commented on #131
my vault server has max_ttl set to 5m so when i follow the tutorial that use 24h, it's still capped to 5m. not sure if it has anything to do with this?

i tested by creating the token manually with the sa token. got the token and i can login with the policy i've created earlier

[code]

[code]

[2021-11-15 18:29] ricoberger commented on #131
Currently I can not reproduce the error, for me it's also working when I set the following policy:

[code]

From your log it's looking like the renew works in the beginning, but fails later. Is this correct?

Can you try to set the following values in the Helm chart, this will force the operator to renew the token every 150 seconds and retries the renew process after 30 seconds if it fails:

[code

[2021-11-16 01:26] tuananh commented on #131
yes. when the opertor bootstraps, it work. it only fails few mins after (i guess 5 mins when the token expires).

let me try your suggestions and report back

[2021-11-16 02:39] tuananh commented on #131
i tried the above suggestion and it didnt seem to work

[code]

[2021-11-16 03:58] tuananh commented on #131
When i tried to do a debug build from master. Funny thing is that renew doesn't kick in anymore. But the reconcilation also doesn't work.

With build 1.15.2, the symptom is: it works at boot but after 5mins (our vault max_ttl setting for k8s), the renew token will fail.

[code]

[2021-11-16 08:04] tuananh commented on #131
@ricoberger this is what i've found so far.

looks like with k8s auth engine, i cannot renew token. the token that can renew are [periodic token](https://www.vaultproject.io/docs/concepts/tokens#periodic-tokens)

i'm curious how come it works for you :-/

[2021-11-16 08:41] tuananh commented on #131
I think i found the issue in my case.

i should not set token max ttl in the role so that it can renew. after that it seems to work.

Thanks for your help.

[2021-11-16 08:41] #131 closed

[2021-11-16 12:32] ira-gordin-sap commented on #124
Hi @ricoberger,
I have the same issue with K8s version is 1.21.5 and Vault Enterprise 1.7.3 and https://github.com/IBM/argocd-vault-plugin/releases/tag/v1.5.0.
Hope you plan patch 1.7 as well.
Thanks,
Ira

[2021-11-16 18:09] ricoberger commented on #124
Hi @ira-gordin-sap, it's not possible to fix the issue for Vault 1.7.x, because the problem is within Vault and Kubernetes 1.21.x JWT tokens. The fix was only backported to Vault 1.8.x.

[2021-11-16 18:48] Kampe commented on #124
Seeing a similar issue with vault 1.8.4 and K8s 1.21.5 all of a sudden - the fix is just set validation to false?

[2021-11-16 19:18] ricoberger commented on #124
@Kampe, yes this should fix the issue. Setting the validation to false or setting the issuer should work. I would prefer the second one.

To [find out the issuer](https://www.vaultproject.io/docs/auth/kubernetes#discovering-the-service-account-issuer) you can use the following commands:

[code]

[2021-11-16 19:34] Kampe commented on #124
I have just set the issuer and still receive the same error:

[code]

<img width="336" alt="Screen Shot 2021-11-16 at 1 33 46 PM" src="https://user-images.githubusercontent.com/624150/142053225-68a1c490-5f66-449a-bc00-fc73d0420482.png">

[2021-11-16 19:35] ricoberger commented on #55
This should be implemented by #132 now.

[2021-11-16 19:35] #55 closed

[2021-11-16 19:45] Kampe commented on #124
also, using this command on GKE does not yield any results and just hangs.

[2021-11-16 19:49] ricoberger commented on #124
Does the other command from the Vault documentation returns any results?

[code]

[2021-11-16 19:58] Kampe commented on #124
the WK config call does work and returns a google endpoint 👍

[2021-11-16 20:01] ricoberger commented on #115
I would close the issue if this is ok for everyone. Sorry for the breaking change again 😞

[2021-11-16 20:01] #115 closed

[2021-11-16 20:02] ricoberger commented on #120
Hi @Ankitcapco were you able to solve you issue?

If not please let me know, so I can reopen the issue.

[2021-11-16 20:02] #120 closed

[2021-11-17 15:24] ricoberger commented on #124
Hi @ira-gordin-sap you have to update Vault to version 1.8.x, to fix the issue.

[2021-11-17 15:42] ira-gordin-sap commented on #124
@ricoberger if I set issuer and disable_iss_validation=true, should it work in 1.7.x (just for test)?

[2021-11-17 15:47] ricoberger commented on #124
@ira-gordin-sap if you get the following error `Errors:\n\n* 1 error occurred:\n\t* error running lookahead function for mfa: could not parse UID from claims\n\n","stacktrace":"runtime.main\n\t/usr/local/go/src/runtime/proc.go:225"` I think setting the issuer or disable_iss_validation will not work.

If you see the following error `Error making API request.\n\nURL: PUT https://myvault.com/v1/auth/

[2021-11-17 15:50] ira-gordin-sap commented on #124
@ricoberger I have
`error running lookahead function for mfa: could not parse UID from claims`
So nothing can help but Vault version 1.8.x

[2021-11-18 13:10] linuxbsdfreak commented on #124
@ira-gordin-sap @ricoberger

I tested it once more today with Vault 1.8.4 and K8s 1.22.1.

[code]

I even tried this which works for Vault 1.8.4 and K8s 1.22.1

https://learn.hashicorp.com/tutorials/vault/kubernetes-secret-store-driver?in=vault/kubernetes

For Vault version 1.7.4 i get

[code]

[2021-11-18 16:22] ricoberger commented on #123
Hi, this is only available via the `dev` tag yet. I would like to verify that it is working like expected before an official release.

[2021-11-26 03:21] f0rcas opened #133 "Applications error"
Hi.
I get errors and POD restart. Number of replicas 1, authMethod: kubernetes, reconciliationTime: 0. The application restarts constantly, but secrets create normaly.
`E1126 03:10:39.646091       1 leaderelection.go:367] Failed to update lock: Put "https://10.57.0.1:443/api/v1/namespaces/vault/configmaps/vaultsecretsoperator.ricoberger.de": context deadline exceeded
I1126 03:10:39.646152       1

[2021-11-28 09:32] ricoberger commented on #133
Hi @f0rcas, I we had some similar issues with some operators in the past. I think the problem might be your Kubernetes API and not the operator.

I published a new version [1.16.1](https://github.com/ricoberger/vault-secrets-operator/releases/tag/1.16.1), which allows to modify the arguments of the operator.

You can try to set the following args in the Helm chart, to disable the leader election,

[2021-11-28 10:28] ymrsmns opened #135 "Not pull image 1.16.1"
Hi

The specified image was not found in hub.docker.io

[code]

https://github.com/ricoberger/vault-secrets-operator/blob/master/charts/vault-secrets-operator/values.yaml#L6

[2021-11-28 17:51] ricoberger commented on #135
Hi @ymrsmns the image should now be available at Docker Hub.

It always takes up to 1 hour before the image is build and pushed to Docker Hub after a new release.

[2021-11-28 18:38] #135 closed

[2021-11-29 04:48] f0rcas commented on #133
tnx. this solved my problem.

[2021-12-02 00:36] TJM commented on #123
This is looking OK, so far...

NOTE: We already had the kubernetes auth setup...

Created the prerequisites: vault_gcp_secret_roleset, kubernetes_service_account, vault_kubernetes_auth_backend_role, vault_policy ...

Then the helm chart:

[code]

with the following yaml tmpl mentioned above:

[code]

Then, the secret looks like:

[code]

... which I had to apply *manually* because apparently raw y

[2021-12-02 15:07] ecojan opened #136 "Issues applying the helm chart Role in namespace"
In my current deployment scenario I am restricted to a cluster in which I am an admin in just a namespace. Current versions are:

[code]

When I'm trying to apply the Role, I receive the following error with the following verbs:
[code]

I arrived at the conclusion that the cluster is trying to authorize the target with some API groups that don't match
ex. configmaps in "coordination.k8s.io".

Foun

[2021-12-02 22:52] TJM commented on #123
One thing we found is that it is a *little* too aggressive on retries... I messed up the path and it looked like it tried ~45 times in just a few minutes. I can send the logs if you want, but I think it needs to back off when it gets permission denied (403)

[2021-12-03 00:17] TJM commented on #123
FYI: We are using https://github.com/TJM/vault-secrets to create our VaultSecret objects through Terraform ;)

[2021-12-04 09:17] ricoberger commented on #133
Nice. I would close the issue then.

[2021-12-04 09:17] #133 closed

[2021-12-04 09:58] ricoberger commented on #123
Hi @TJM, thanks for testing.

1. Yes the secret will be read twice, when it doesn't already exists. Thats the current behavior of the operator. I will check if we can somehow omit the second reconciliation after the secret was created.
2. If I get you right, the returned secret for GCP has a lease time? The operator currently only supports a global setting for this, but not on a per secret basis.

[2021-12-06 20:16] TJM commented on #123
That would be best if it was only "read" once.

Oh, Vault leases :)

* The operator's "Vault Token" (auth token) itself has a lease time, which must be kept renewed (usually around 80% of its lifetime?), as if it expires it looses its lease to anything that it had, which will cause the resulting service account credential to be invalidated.
* Credential lease time - https://www.vaultproject.io/doc

[2021-12-07 12:39] #136 closed

[2021-12-14 06:18] Chumper opened #138 "Allow labels to be added to the resulting secret"
I am currently working on setting up [ArgoCD](https://argo-cd.readthedocs.io/en/stable/) with the vault-secret-operator.

ArgoCD supports that credentials for git repository access can be declared beforehand:
https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#repository-credentials

Example:
[code]

ArgoCD relies on the labels to determine that a secret belongs to an ArgoC

[2021-12-14 07:12] ricoberger commented on #138
Hi @Chumper, we are already propagating the labels from the VaultSecret to the Kubernetes Secret:

[code]

The above VaultSecret would result in a secret like this:

[code]

Does this already help for your use case?

[2021-12-14 09:21] Chumper commented on #138
Hah! I just found in the documentation that the labels are available in templating.
That would solve all my problems!
Let me try that.

However in that case I would propose to add that to the documentation

[2021-12-14 09:26] Chumper commented on #138
@ricoberger Indeed, that works and solves my use case.
Thank you for the hint!

In that case are you fine with me adding a section on the readme?

[2021-12-14 12:12] #138 closed

[2021-12-14 12:25] ricoberger commented on #138
Nice and thanks for your additions to the readme 🙂

[2021-12-16 13:39] Chumper opened #140 "Feature #126 breaks renewal of tokens"
Hey @ricoberger

The following feature breaks auto renewable of tokens: https://github.com/ricoberger/vault-secrets-operator/pull/126

The problem is that `renewToken` is false by default and will only be set in the `token` auth method: https://github.com/ricoberger/vault-secrets-operator/blob/4a7f7702b7996d889cbb10f57798f8840634530e/vault/vault.go#L135

For that auth method the renewal is configu

[2021-12-17 07:19] Chumper commented on #140
Reverting back to `1.15.2` solves the problem for now, but I also created a PR

[2021-12-17 19:35] #140 closed

[2021-12-17 19:40] ricoberger commented on #140
Hi @Chumper thanks for reporting and for providing a fix for the issue. The new image for version [1.16.3](https://github.com/ricoberger/vault-secrets-operator/releases/tag/1.16.3) should be available soon.

[2022-01-10 19:32] gusfcarvalho opened #144 "Consider merging efforts with ESO"
Hey!

Great project!

We are working on a similar project that also supports HashiVault and maybe we should merge efforts on a single project? https://github.com/external-secrets/external-secrets

We chat on #external-secrets channel on kubernetes slack, and we have community meetings every other Wednesday and you are very welcome to join!

This is a project that already is the merged efforts of s

[2022-02-09 19:47] swarren83 opened #146 "load secrets via data volumes"
The objective of this issue is to apply the following security hardening standards:

Load secrets via data volumes instead of through env vars.
Resolves CIS benchmark(cis-k8s-v1.5.1) 5.4.1

[2022-02-09 20:56] swarren83 commented on #146
Add a `securityContext` setting for helm chart.

[2022-02-09 21:08] swarren83 commented on #146
Add a `probes` setting for helm chart to configure liveness/readiness probes and set defaults.

[2022-02-10 21:34] darrencola-dev opened #147 "Update documentation for reconciliationTime"
It is not clear whether the time is in seconds or minutes. Could we add to the documentation exactly what the number represents?

Thanks!

[2022-02-13 22:37] ricoberger commented on #147
Hi @darrencola-dev thanks for your suggestions. You are right the documentation around some of the options are not in a good shape.

I tried to add some clarification for the `vault. reconciliationTime` / `VAULT_RECONCILIATION_TIME` values. Please let me know if you found some other places were we could improve our documentation.

[2022-02-13 23:00] #147 closed

[2022-02-15 18:30] #146 closed

[2022-02-23 17:36] jvaitla opened #150 "Error with vault-secrets-operator"
Hi
Having issues with vault-secrets-operator in some clusters, what need to done to fix this issue?

Here was one of the error

E0223 16:52:57.962534       1 leaderelection.go:330] error retrieving resource lock flux-system/vaultsecretsoperator.ricoberger.de: etcdserver: request timed out

[2022-03-01 16:33] ricoberger commented on #150
Hi @jvaitla, I think this looks like a problem with your Kubernetes API server. If you see this very often you can disable the leader election of the operator via

[code]

[2022-04-06 15:49] Pluggi opened #153 "Adding Support of Additional Engines"
We really appreciate your work on Vault Secrets Operator. We have deployed it on all our clusters and it just works!

We would like to contribute to the project by adding other engines, such as PKI and Databases engine.

Would you prefer that we add a CRD for each engine?

Another solution would be to specify the engine in the `secretEngine` field and add another field `options` to pass engine-spe

[2022-04-06 21:13] fbueno opened #154 "Way to monitor failed VaultSecrets sync"
Sometimes people may add a `VaultSecret` that has a wrong `path`.
In such case, secret won't be created/synced.

Is there a way to export such status to prometheus endpoint `/metrics`?

[2022-04-10 09:21] ricoberger commented on #154
Hi @fbueno, the `/metrics` endpoint on port `8080` exposes the following counter metrics

[code]

It should be possible to use the `controller_runtime_reconcile_total{controller="vaultsecret",result="error"}` metric to monitor failed reconciliations.

Does this already help or are you looking for a more detailed metric, which also contains the name / namespace of the reconciled VaultSecret?

[2022-04-10 10:03] ricoberger commented on #153
Hi @Pluggi, we appreciate every contribution 🙂

If you want to add support for other secret engines, I would prefer to use the existing `secretEngine` field instead of managing multiple CRDs.

[2022-04-12 08:03] Pluggi commented on #153
Great, I will do that and open a first PR as soon as it is ready.

[2022-04-12 16:02] fbueno commented on #154
@ricoberger That can help, indeed.
Thank you.
Maybe if we had a more verbose metric it could help even more.
But for me it does help. Thank you again.

[2022-04-25 15:33] artarik opened #156 "invalid secret name"
Hello
I create a secret for nginx where key is file path and value is cert in base64
If i try to use it i get an eror

`...."reconciler kind":"VaultSecret","name":"wildcart-cert","namespace":"vault","error":"Secret \"wildcart-cert\" is invalid: data[/etc/nginx/certificates/wildcard.cert]: Invalid value: \"/etc/nginx/certificates/wildcard.cert\": a valid config key must consist of alphanumeric char

[2022-04-25 20:16] ricoberger commented on #156
Hi @artarik, I do not think that this error is coming from the operator himself. If I get it right your secret in Vault contains a key value pair with the following information:

- key: /etc/nginx/certificates/wildcard.cert
- value: <your base64 encoded cert>

If this is the case, it fails because the operator tries to use the `key` as the name for the data field in the Kubernetes secret:

[code]

[2022-04-26 06:57] artarik commented on #156
Is there any way I can get my key from vault and put it in k8s secret?

[2022-04-26 07:22] ricoberger commented on #156
If you can change the key in vault to just `wildcard.cert` it should work.

If this is not possible you can also try to use the templating feature of the operator to use another key for the created Kubernetes secret as shown in the following:

[code]

[2022-04-26 07:39] artarik commented on #156
ok, thanx for a quick answer

[2022-04-26 07:40] #156 closed

[2022-04-26 07:40] artarik commented on #156
not a bug

[2022-04-30 13:19] ricoberger commented on #124
With Vault 1.9.0 the issue will not be validated anymore, so that it should be save to set `disable_iss_validation`, see https://www.vaultproject.io/docs/auth/kubernetes#kubernetes-1-21

For that I would close the issue now, if someone still have problems with Kubernetes 1.21 and above and the Vault 1.9.0 please let me know.

[2022-04-30 13:19] #124 closed

[2022-04-30 13:19] ricoberger commented on #150
Since there was no reply yet, I would close the issue for now. If you still have problems please let me know.

[2022-04-30 13:19] #150 closed

[2022-05-16 13:52] Forest-fox opened #157 "missing secret vault-secrets-operator or bad path in volume"
Image version 1.18
Kubernetes 1.21
Used manual install from yaml configuration with variables:
VAULT_AUTH_METHOD : kubernetes
VAULT_AUTH_PATH : auth/k8s-testing
VAULT_KUBERNETES_ROLE : vault-secrets-operator

In Vault i have configured method kubernetes on that path with that role.
When container starts it spam error "missing secret vault-secrets-operator or bad path in volume". Network traffic fl

[2022-05-17 06:40] ricoberger commented on #157
Hi @Forest-fox, the error message `missing secret vault-secrets-operator or bad path in volume` can be ignored for the Kubernetes auth method.

Did you also create a ServiceAccount `vault-secrets-operator` and added it to the Deployment like here https://github.com/ricoberger/vault-secrets-operator/blob/075157d1af6b924d8507fc1ef18b8689d5e6dcfb/charts/vault-secrets-operator/templates/deployment.yam

[2022-05-18 01:53] Forest-fox commented on #157
Thanks for answer. Issue was related to wrong configuration parameters in vault.

[2022-05-18 01:54] #157 closed

[2022-07-18 11:31] linuxbsdfreak opened #158 "Vulnerabilities in images and libraries."
Hi @ricoberger ,

We are performing protocode scans on the docker image for the vault-secrets-operator and found the following Vulnerabilities in images and libraries.

busybox 1.33.1-r3 Latest version 1.34.1
https://nvd.nist.gov/vuln/detail/CVE-2022-28391

golang-runtime 1.16.15 Latest version 1.18.4
https://nvd.nist.gov/vuln/detail/CVE-2022-29526
https://nvd.nist.gov/vuln/detail/CVE-2022-28327
h

[2022-07-19 20:18] ricoberger commented on #158
Hi @linuxbsdfreak, I think this should be fixed in version [1.19.1](https://github.com/ricoberger/vault-secrets-operator/releases/tag/1.19.1) as `docker scan` and `trivy` do not report any vulnerabilities.

[2022-08-10 21:55] Zarmbinski opened #161 "Allow Chart to Accept Image Digest"
Hi @ricoberger 👋

My org is in the process of rolling out image signing with [Cosign](https://github.com/sigstore/cosign). One of the requirements of this tool is that image SHAs should be used rather than tags. This is so that image signature (which is stored in the registry and tagged with the corresponding image's SHA) can be properly dereferenced.

We also use the vault secrets operator Helm c

[2022-08-10 21:59] Zarmbinski commented on #161
I have a branch already prepared to add this feature

[2022-08-15 17:56] #161 closed

[2022-08-15 19:25] ricoberger commented on #158
Hi @linuxbsdfreak, I would close the issue for now, since docker scan doesn't report any vulnerabilities.

[2022-08-15 19:25] #158 closed

[2022-09-01 08:26] nicoche opened #165 "Use custom email for GCP IAM auth"
Hey there!

First of all, thanks for your work on this project.

I'm trying to get the operator to authenticate agains Vault using GCP IAM auth. It seems that the service account used is deduced from GOOGLE_APPLICATION_CREDENTIALS (https://github.com/ricoberger/vault-secrets-operator/blob/main/vault/vault.go#L614) but the email of the service account we use is deduced from GCP metadata server (htt

[2022-09-01 14:53] nicoche commented on #165
Note: we could keep the current implementation and apply a fix like this one https://github.com/ricoberger/vault-secrets-operator/commit/58284c91fa319afe18eba6c420738b903ee384be

[2022-09-04 20:46] ricoberger commented on #165
HI @nicoche, feel free to create a PR for your changes they are looking good 🙂.

[2022-09-07 15:22] nicoche commented on #165
Cool! I've just opened a PR https://github.com/ricoberger/vault-secrets-operator/pull/166

[2022-09-09 05:34] #165 closed

[2022-09-13 16:14] nightguide opened #168 "[Feature] Creating multiple Kunernetes Secrets from list keys from Vault."
Hi Rico!
Your secret operator is cool.
From the Vault documentation:
I see that by path we can get a list of keys from the Vault API.

https://www.vaultproject.io/api-docs/secret/kv/kv-v1#list-secrets

But I don't understand, your operator can create multiple secrets obtained from the list of Vault keys?

I want that when creating one VaultSecret resource, I could get a list of keys for all secret

[2022-09-17 06:14] sakiib opened #170 "Hi @ricoberger, any plans on supporting more `SecretEngine`s?"

[2022-09-17 06:21] sakiib commented on #168
Hi @nightguide, can you provide an example?

[2022-09-18 20:25] ricoberger commented on #170
Hi @sakiib, currently there are no plans for adding support for other secret engines.

I start working on adding adding support for the GCP secrets engine in (#130) but never finished it, because I can not really test it by myself.

If you want to contribute other secret engines, a PR would be very welcome 🙂

[2022-10-18 15:58] a-dragos opened #172 "Add multi-cluster k8s support?"
Hello @ricoberger !
Any plans to add VSO support for k8s multi-cluster ?
Basically, sync secrets between clusters without installing VSO on each cluster.
Regards!

[2022-11-07 06:52] ricoberger commented on #172
Hi @a-dragos, sorry currently there are no plans to implement multi-cluster support for the operator.